<div [ngBusy]="{busy: maestroService.busy, message: 'Cargando ventas...', backdrop: true}"></div>
<div class="section-tabla fondo">
	<br>

	<div class="container todo">
		<div class="cabecera">
			<h5>Ingreso de compras registradas</h5>
		</div>
		<br>
		<div class="col-xl-12">
			<span class="info">A continuación se muestra información acerca de las compras realizadas por los
				clientes</span>
			<form [formGroup]="fechasForm" class="formFechas">
				<div class="row">
					<mat-form-field appearance="outline" class="col-sm-5 radios">
						<mat-label>Fecha de inicio</mat-label>
						<input matInput [matDatepicker]="picker1" formControlName="fechaInicio" maxlength="10"
							[value]="date.value">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
					</mat-form-field>

					<mat-form-field appearance="outline" class="col-sm-5 radios">
						<mat-label>Fecha de fin</mat-label>
						<input matInput [matDatepicker]="picker2" formControlName="fechaFin" maxlength="10"
							[value]="date1.value">
						<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2></mat-datepicker>
					</mat-form-field>

					<div class="col-sm-2">
						<button mat-flat-button color="primary" (click)="getComprobantes()" class="btn-show"><i
								class="fa fa-search icon-search" aria-hidden="true"></i> Buscar</button>
					</div>
				</div>
			</form>

			<p-dataTable [immutable]="false" columnResizeMode="expand" [resizableColumns]="true" class="col-sm-12"
				[reorderableColumns]="true"
				[style]="{'overflow-x':'auto !important','max-width':'100% !important','padding':'10px'}" #dt
				[value]="productos" [rows]="10" [responsive]="true" [paginator]="true" selectionMode="single"
				[(selection)]="selectedPersona" (onRowSelect)="onRowSelect($event)" [totalRecords]="total" [lazy]="true"
				(onPage)="Filter(dt,null,$event)">
				<p-column
					[style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px','text-align':'center','width':'8%'}"
					field="" header="Número" [sortable]="true" [filter]="true" filterPlaceholder="Filtrar por número">
					<ng-template let-car="rowData" let-i="rowIndex" pTemplate="body">{{i+1}}</ng-template>
				</p-column>
				<p-column
					[style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px'}"
					field="descripcion" header="Descripción" [sortable]="true" [filter]="true"
					filterPlaceholder="Filtrar por tipo Doc.">
				</p-column>
				<p-column
					[style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px'}"
					field="color" header="Color" [sortable]="true" [filter]="true"
					filterPlaceholder="Filtrar por numero doc.">
				</p-column>
				<p-column
					[style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px'}"
					field="marca" header="Marca" [sortable]="true" [filter]="true"
					filterPlaceholder="Filtrar por numero doc.">
				</p-column>
				<p-column
					[style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px'}"
					field="material" header="Material" [sortable]="true" [filter]="true"
					filterPlaceholder="Filtrar por numero doc."></p-column>

				<p-column
					[style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px'}"
					field="" header="Precio compra" [sortable]="true" [filter]="true"
					filterPlaceholder="Filtrar por haber precio compra">
					<ng-template let-car="rowData" let-i="rowIndex" pTemplate="body">
						S/. {{car.precioCompra}}
					</ng-template>
				</p-column>

				<p-column
					[style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px'}"
					field="" header="Precio venta" [sortable]="true" [filter]="true"
					filterPlaceholder="Filtrar por precio venta">
					<ng-template let-car="rowData" let-i="rowIndex" pTemplate="body">
						S/. {{car.precioVenta}}
					</ng-template>
				</p-column>

				<p-column
					[style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px'}"
					field="stock_minimo" header="Stock minimo" [sortable]="true" [filter]="true"
					filterPlaceholder="Filtrar por numero doc."></p-column>
				<p-column
					[style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px'}"
					field="stock_maximo" header="Stock máximo" [sortable]="true" [filter]="true"
					filterPlaceholder="Filtrar por numero doc."></p-column>
				<p-column
					[style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px'}"
					field="cantidad" header="Cantidad" [sortable]="true" [filter]="true"
					filterPlaceholder="Filtrar por numero doc."></p-column>

				<p-column [bodyStyle]="false"
					[style]="{'white-space': 'nowrap !important', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'padding': '5px','margin': '-5px','font-family': 'Arimo, sans-serif','font-size': '12px','text-align':'center'}"
					field="" header="Acción" [sortable]="true">
					<ng-template let-car="rowData" let-i="rowIndex" pTemplate="body">
						<!-- <img class="img-options" src="../../../../../assets/icons/Artboard – 29.png" alt=""
								  matTooltip="Eliminar item" (click)="removeItem(i)"> -->
						<div class="btn-group acciones">
							<button class="btn btn-default" (click)="editProducto(car._id)"><span
									class="fa fa-pencil"></span></button>
							<button class="btn btn-danger" (click)="deleteProducto(car._id)"><span
									class="fa fa-trash"></span></button>
						</div>
					</ng-template>
				</p-column>
			</p-dataTable>
		</div>
		<div class="botones">

			<button mat-button class="btn btnprevious" [routerLink]="['/principal']">
				<i class="fa fa-chevron-left previous" aria-hidden="true"></i>
				Regresar Inicio</button>

		</div>
	</div>
	<br>
</div>

<section class="section-tabla" *ngIf="this.cantidad==0">
</section>