<div class="contenedor">
  <header class="title">
    <h2><strong>
        Lista de productos
      </strong>
    </h2>
  </header>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ng-container *ngFor="let producto of productos; let i=index">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-4 image">
            <img class="img-fluid img-prop" (click)="upProducto(producto._id)"
              src="{{url+'get-img-producto/'+producto.imagen}}">
          </div>
          <div class="col-md-8 texto ">
            <div class="col-md-8"><a class="enlace" (click)="upProveedor(proveedor._id)"><strong>
                  <p class="desafio">{{producto.nombre}}</p>
                </strong></a></div>
            <div class="col-md-8"><label for="" class="p-text">Descripción:</label> <label class="text-2">
                {{producto.descripcion}}</label></div>
            <div class="col-md-8"><label for="" class="p-text">Marca:</label> <label class="text-2">
                {{producto.marca}}</label></div>
            <div class="col-md-8"><label for="" class="p-text">Material:</label> <label class="text-2">
                {{producto.material}}</label></div>
            <div class="col-md-8"> <label for="" class="p-text">Precio venta:</label> <label class="text-2">
                {{producto.precioVenta}}</label></div>
            <div class="col-md-8"><label for="" class="p-text">Cantidad actual:</label> <label class="text-2">
                {{producto.cantidad}}</label></div>
            <div class="col-md-8"> <label for="" class="p-text">Stock minimo:</label> <label class="text-2">
                {{producto.stock_minimo}}</label></div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </ng-container>
  <br>
</div>